<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alexis Sukrieh, for Weborama">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>[% IF title %][% title %] | Ustone[% ELSE %] Ustone [% END %]</title>

    <script src="/js/jquery.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li [% IF request.path == '/uptime' %]class="active"[% END %]><a href="/uptime">Uptime</a></li>
          <li [% IF request.path == '/archives' %]class="active"[% END %]><a href="/archives">Archives</a></li>
          [% IF session.admin %]
          <li [% IF request.path == '/admin' %]class="active"[% END %]><a href="/admin">Admin</a></li>
          [% END %]
        </ul>
        <h3 class="text-muted">[% platform_name %]</h3>
      </div>

      [% IF flash_success %]<div class="alert alert-success"> [% flash_success %]</div>[% END %]
      [% IF flash_info %]<div class="alert alert-info"> [% flash_info %]</div>[% END %]
      [% IF flash_warning %]<div class="alert alert-warning"> [% flash_warning %]</div>[% END %]
      [% IF flash_danger %]<div class="alert alert-danger"> [% flash_danger %]</div>[% END %]

      [% content %]

      <div class="footer">
        <p>&copy; Weborama 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
